<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <style>
      .job_wrapper {
        border: 1px grey;
      }
    </style>
    <title></title>
  </head>
  <body>
    <div class="job_wrapper" th:each="item : ${batchList}">
      <div>
        <span>jobName : </span>
        <span class="job_name" th:text="${item.jobName}"></span>
      </div>
      <div>
        <span>jobGroup : </span>
        <span class="job_group" th:text="${item.jobGroup}"></span>
      </div>
      <div>
        <span>description : </span>
        <span class="description" th:text="${item.description}"></span>
      </div>
      <div>
        <span>cron : </span>
        <span
          class="cronExp"
          th:text="${item.cronTriggerDTO.cronExpression}"
        ></span>
      </div>
      <button id="pause">일시중지</button>
      <button id="resume">재시작</button>
      <input type="text" name="" id="inputCron" />
      <button id="reschedule">스케쥴 변경</button>
    </div>
  </body>
  <script>
    $("#pause").click(function () {
      let jobName = $(this).parent().find(".job_name").text();
      let jobGroup = $(this).parent().find(".job_group").text();

      $.ajax({
        type: "post",
        url: "/batch/pause",
        contentType: "application/json",
        data: JSON.stringify({
          jobName: jobName,
          jobGroup: jobGroup,
        }),
        success: function (response) {
          console.log(response);
        },
        error: function (response) {
          console.log(response);
        },
      });
    });

    $("#resume").click(function () {
      let jobName = $(this).parent().find(".job_name").text();
      let jobGroup = $(this).parent().find(".job_group").text();

      $.ajax({
        type: "post",
        url: "/batch/resume",
        contentType: "application/json",
        data: JSON.stringify({
          jobName: jobName,
          jobGroup: jobGroup,
        }),
        success: function (response) {
          console.log(response);
        },
        error: function (response) {
          console.log(response);
        },
      });
    });

    $("#reschedule").click(function () {
      let jobName = $(this).parent().find(".job_name").text();
      let jobGroup = $(this).parent().find(".job_group").text();
      let cronExp = $("#inputCron").val();

      $.ajax({
        type: "post",
        url: "/batch/reschedule",
        contentType: "application/json",
        data: JSON.stringify({
          jobName: jobName,
          jobGroup: jobGroup,
          cronExp: cronExp,
        }),
        success: function (response) {
          console.log(response);
        },
        error: function (response) {
          console.log(response);
        },
      });
    });
  </script>
</html>
